.category {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 20px 0;
    justify-content: space-between;
}

@media screen and (max-width: 1050px) {
    .category {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 800px) {
    .category {
        display: grid;
        grid-template-columns: auto auto;
    }
}